@page
@model Tatar_Gabriela_Lab02.Pages.Borrowings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Borrowing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Borrowing.MemberID" class="control-label"></label>
                <select asp-for="Borrowing.MemberID" class ="form-control" asp-items="ViewBag.MemberID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Borrowing.BookID" class="control-label"></label>
                <select asp-for="Borrowing.BookID" class ="form-control" asp-items="ViewBag.BookID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Borrowing.ReturnDate" class="control-label"></label>
                <input asp-for="Borrowing.ReturnDate" class="form-control" />
                <span asp-validation-for="Borrowing.ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
